:root {
  --font-family: "Roboto", "Helvetica Neue", Sans-Serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--font-family);
  overflow: hidden;
}

#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

[draggable] {
  cursor: grab;
}

#tiles {
  position: relative;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

#tiles .tile {
  width: 120px;
  height: 120px;
  border-radius: 25px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

video {
  border-radius: 25px;
}

#callControls.controls-on {
  display: flex;
}

#callControls {
  display: none;
  flex-direction: row;
  align-items: center;
  z-index: 100;

  position: absolute;

  width: 265px;
  height: 56px;

  left: calc(50% - 265px / 2);

  background: rgb(221, 221, 221);
  border: 0.5px solid rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(36px);
  border-radius: 5px;
}

#callControls #controller {
  margin: 0 8px;
  flex: auto;
}

#callControls #dots {
  background-image: url(./assets/controller.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 56px;
}

#callControls #line {
  height: 0px;
  width: 54px;
  opacity: 0.4;
  border: 1px solid #6b7785;
  transform: rotate(90deg);
  position: absolute;
  left: -3px;
  top: 26px;
}

#toggleCam,
#toggleMic,
#clipboard {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

#toggleCam:hover,
#toggleMic:hover,
#clipboard:hover {
  background: rgba(245, 245, 245, 0.6);
  border-radius: 4px;
}

#leave {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #f63135;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: none;
  width: 95px;
  height: 32px;
}

#callControls button {
  margin: 0 8px;
  cursor: pointer;
}

#callControls .cam-on {
  background-image: url("./assets/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#callControls .cam-off {
  background-image: url("./assets/camera-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#callControls .mic-on {
  background-image: url("./assets/microphone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#callControls .mic-off {
  background-image: url("./assets/microphone-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#clipboard.invite {
  background-image: url("./assets/invite.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.participant {
  position: relative;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tiles .name {
  color: rgb(53, 48, 48);
  font-weight: 600;
  background: #121a24;
  font-size: large;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  top: 97px;
  box-sizing: border-box;
  text-align: center;
}

#tiles .name.speaker {
  border-color: #fad71f;
  border-width: 2px;
  border-style: solid;
  background: #fad71f;
  color: #121a24;
}

#tiles #mic-off {
  background-image: url("./assets/tile-mic-off.svg");
  width: 16px;
  height: 16px;
  display: none;
}

#tiles #mic-off.show {
  display: flex;
}

#tiles #cam-off {
  background-image: url("./assets/tile-cam-off.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: calc(120px / 2 - 32px / 2);
  left: calc(120px / 2 - 32px / 2);
  display: none;
}

#tiles #cam-off.show {
  display: flex;
}

.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#tiles .tile.speaker {
  border-color: #fad71f;
  border-width: 4px;
  border-style: solid;
}

#clipboardTooltip {
  visibility: hidden;
  width: 120px;
  background: whitesmoke;
  color: #121a24;
  text-align: center;
  padding: 5px 0;
  font-size: 10px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 45px;
  left: 70px;
}

#clipboardTooltip.active {
  visibility: visible;
}
