:root {
  --font-family-graphik: Graphik, "Helvetica Neue", Sans-Serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--font-family-graphik);
}

#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#tiles {
  position: absolute;
  top: 60px;
}

#tiles .tile {
  /* -webkit-app-region: drag; */
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

video {
  border-radius: 25px;
}

.controls-off {
  display: none;
}

.controls-on {
  display: flex;
}

#callControls {
  flex-direction: row;
  align-items: center;

  position: absolute;

  width: 265px;
  height: 56px;

  background: rgba(245, 245, 245, 0.6);
  border: 0.5px solid rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(36px);
  border-radius: 5px;
}

#callControls #controller {
  margin: 0 8px;
  flex: auto;
}

#callControls #dots {
  background-image: url(./assets/controller.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 56px;
}

#callControls #line {
  height: 0px;
  width: 54px;
  opacity: 0.4;
  border: 1px solid #6b7785;
  transform: rotate(90deg);
  position: absolute;
  left: -3px;
  top: 26px;
}

#toggleCam,
#toggleMic,
#clipboard {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

#toggleCam:hover,
#toggleMic:hover,
#clipboard:hover {
  background: rgba(245, 245, 245, 0.6);
  border-radius: 4px;
}

#leave {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #f63135;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: none;
  width: 95px;
  height: 32px;
}

#callControls button {
  margin: 0 8px;
}

#callControls .cam-on {
  background-image: url("./assets/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#callControls .cam-off {
  background-image: url("./assets/camera-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#callControls .mic-on {
  background-image: url("./assets/microphone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#callControls .mic-off {
  background-image: url("./assets/microphone-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#clipboard {
  background-image: url("./assets/invite.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.participant {
  position: relative;
  width: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#tiles .name {
  color: rgb(53, 48, 48);
  font-weight: 600;
  background: #121a24;
  font-size: large;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  top: 128px;
  box-sizing: border-box;
}

#tiles .name.speaker {
  background: #fad71f;
}

#tiles #mic-off {
  background-image: url("./assets/tile-mic-off.svg");
  width: 16px;
  height: 16px;
  display: none;
}

#tiles #mic-off.show {
  display: flex;
}

#tiles #cam-off {
  background-image: url("./assets/tile-cam-off.svg");
  width: 32px;
  height: 32px;
  position: absolute;
  top: calc(150px / 2 - 32px / 2);
  left: calc(150px / 2 - 32px / 2);
  display: none;
}

#tiles #cam-off.show {
  display: flex;
}

.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speaker {
  border-color: #fad71f;
  border-width: 4px;
  border-style: solid;
}
