:root {
  --grey-lightest: #f7f9fa;
  --white: #ffffff;
  --grey: #c8d1dc;
  --dark-grey: #6b7785;
  --dark-blue: #1f2d3d;
  --dark-blue-border: #2b3f56;
  --green: #72cc18;
  --red-dark: #bb0c0c;
  --font-family: GraphikRegular, "Helvetica Neue", Sans-Serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--font-family);
}

#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#tiles .tile {
  /* -webkit-app-region: drag; */
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

video {
  border-radius: 25px;
}

.controls-off {
  display: none;
}

.controls-on {
  display: flex;
}

#callControls {
  flex-direction: row;
  align-items: center;

  position: absolute;

  width: 265px;
  height: 56px;

  background: rgba(245, 245, 245, 0.6);
  border: 0.5px solid rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(36px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
}

#callControls #controller {
  margin: 0 8px;
  flex: auto;
}

#callControls #line {
  height: 0px;
  width: 54px;
  opacity: 0.4;
  border: 1px solid #6b7785;
  transform: rotate(90deg);
  position: absolute;
  left: -5px;
  top: 26px;
}

#toggleCam,
#toggleMic,
#clipboard {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

#leave {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #f63135;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: none;
  width: 89px;
  height: 32px;
}

#callControls button {
  margin: 0 8px;
}

.cam-on {
  background-image: url("./assets/camera.svg");
}

.cam-off {
  background-image: url("./assets/camera-off.svg");
}

.mic-on {
  background-image: url("./assets/microphone.svg");
}

.mic-off {
  background-image: url("./assets/microphone-off.svg");
}

#clipboard {
  background-image: url("./assets/invite.svg");
}

#localParticipant {
  display: none;
  /*  -webkit-app-region: drag; */
}

.participant {
  position: relative;
  width: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#tiles .name {
  color: rgb(53, 48, 48);
  font-weight: 600;
  font-size: large;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #121a24;
  display: inline-block;
  border-radius: 8px;
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  top: 128px;
  box-sizing: border-box;
}

#tiles .name.speaker {
  background: #fad71f;
}

.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speaker {
  border-color: #fad71f;
  border-width: 4px;
  border-style: solid;
}
